    ::-webkit-scrollbar {
        width: 5px;
        height: 10px;
        transition: 0.5s;
        background: #00000025;
    }
    ::-webkit-scrollbar-thumb {
        background: #38383881;
        border-radius: 40px;
        transition: 0.5s;
    }

    html{
        display: flex;
        justify-content: center;
        width: 100%;
       
    }
    body{   
        margin: 0;
        background-color: black;
        font-family:Arial, Helvetica, sans-serif;
        width: 85%;
  
    }

    #contenedor-grande{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        background-color: rgb(0, 0, 0);
        outline: 1px solid #3a3a3a;

    }

    .Title{
        display: flex;
        gap: 30px;
        width: 100%;
        padding: 20px 0;
        position: fixed;
        background-color: #000;
        z-index: 1;
        
    }
    .icono1{
        display: flex;
        align-items: center;
        padding: 0 0 0 20px;
    }

    .icono1 h1{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #fff;
        font-family: 'Courier New', Courier, monospace;
        font-size: 25px;
        width: 20px;
        height: 20px;
        margin: 0;
        padding: 5px;
        text-decoration: none;
    }

    

    .icono1 h1 a{
    text-decoration: none   ;
    color: #000 ;
    }
    .Name a{
        text-decoration: none;
    }
    .Name h1{
        color: #fff;
        margin: 0;
        padding: 0;
    }
    .Name p{
        color: #7a7a7a;
        margin: 0;
        padding: 0;
    }

    .img-portada-grande img{
        width: 100%;
        height: 310px;
        padding-top: 95px;
        object-fit: cover;
    }
    .foto-perfil{
        display: flex;
        justify-content:space-between;

        width: 100%;
        gap:200px;
        margin: 0;
        

        height: 100px;/*si no se lo pongo se baja el contenido*/
    }

    .foto-perfil img{
        border-radius: 50%;
        transform: translateY(-150px);
        border: 4px solid #044392;
    }

    .imagn-de-mi{
        padding: 0 0 0 90PX;
    }
    .button {
        --color:#fff ;
        padding: 0px 20px;
        height: 50px;
        background-color: transparent;
        border-radius: 30px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: .5s;
        font-weight: 400;
        font-size: 16px;
        border: 1px solid;
        font-family: inherit;
        color: var(--color);
        transform: translateX(-60px);
        min-width: 160px;
        z-index: 0;
    }

    .button a{
        text-decoration: none;
        color: #fff;
    }

    .button::before, .button::after {
        content: '';
        display: block;
        width: 50px;
        height: 50px;
        transform: translate(-50%, -50%);
        position: absolute;
        border-radius: 50%;
        z-index: -1;
        background-color: var(--color);
        transition: 1s ease;
    }

    .button::before {
        top: -1em;
        left: -1em;
    }

    .button::after {
        left: calc(100% + 1em);
        top: calc(100% + 1em);
    }

    .button:hover::before, .button:hover::after {
        background-color: #044392;
        height: 410px;
        width: 410px;
    }

    .button:hover {   
        color: #fff;
    }

    .button:active {
        filter: brightness(.8);
    }


    .datos-perfil{
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: #7a7a7a;
        padding: 0 50px;
    }
    .datos-perfil p{
        font-size: 18px;
    }

    .datos-de-mi{

        display: flex;
        gap: 5px;
    }
    .datos-de-mi p{
        margin: 0;

    
    }

    .datos-en-numero{
        display: flex;
        gap: 25px;
    }



    .nombres h1{
        margin: 0;
        color: #ffffff;
    }


    .Texto-del-menu{
        display: flex;
        justify-content: center;
        gap: 5%;
        color: #ffffff;
        list-style: none;
        overflow-x: auto;
        width: 100%;
        margin: 0;
        padding: 0;


    }
    .Texto-del-menu li{
        text-align: center;
        font-size: 18px;
        min-width: 130px;

    }
    .Texto-del-menu a{
    text-decoration: none;
    color: #fff;

    }
    .active{
        padding: 0 0 10px 0;
        border-bottom: 5px solid #044392;
        border-radius: 10px;
    }
    section{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding-bottom: 300px;
        outline:1px solid #3a3a3a;
        
    }



    .segundo-contenedor-grande{
        display: flex;
        justify-content: center;
        gap: 10px;
        width: calc(100% - 100px);
        border-top:1px solid #3a3a3a;
        color: #fff;
        padding: 50px;

    }
    .quien-soy-yo{
        padding-top: 5px;
    }
    .icono2{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 10px;
    }
    .icono-display2{
        display: none;
    }
    .icono2 h1{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        border-radius: 50%;
        background-color: #fff;
        font-family: 'Courier New', Courier, monospace;
        font-size: 25px;
        width: 20px;
        height: 20px;
        margin: 0;
        padding: 7px;
    }

    .imagen-del-1-dato{
        width: 95%;
    }




    .primer-article{
        display: flex;
        justify-content: center;

        color: #fff;


    }
    .primer-article p{
        border-radius: 20px;
        font-size: 19px;
        padding: 30px;
        width: 600px;
        text-align: center;
        border: 1px solid #fff;

    }
    .texto-datos{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .texto-datos h1{
        margin: 0;
    }
    .texto-datos div p{
        margin: 0;
        color: #7a7a7a;
        font-size: 17px;
    }

    .texto-datos p{
        text-align: start;
        width: 100%;
        margin: 0;
        font-size: 18px;
        color: #ffffff;
        padding: 0;

    }



    .mi-nombre-datos-de-mi{
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 0 60px;
        color: #fff;
    }


    .imagen6{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0 0 0px;
        width: 100%;

    }


    .imagen6 img{
        object-fit: cover;
        width: 100%;
        height: 500px;

        border-radius: 30px;
    }

    .segunda-img{
        display: none;
    }

    footer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
     
   
    }
    
    .tercer-contenedor-grande{
        display: flex;
        justify-content: center;
        gap: 12px;
        width: calc(100% - 40px);
       
        color: #fff;
        padding: 20px;

    }

    .unico p{
        color: #7a7a7a;
        padding-bottom: 8px;
        border-bottom:3px solid #044392;
        text-align: center;
    }

    .iconos-red {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    .iconos-red i {
        transform: scale(1.2);
        color: #7a7a7a;
    }

    /*Estilos de works*/

    .unico-works p {
        border-bottom:3px solid #2C7903 !important;
    }
    .active-works{
        border-bottom: 5px solid #2C7903 !important;
    }


    .button-class:hover::before, .button-class:hover::after {
        background-color: #2C7903 !important;

    }

    
    .foto-perfil-works img{
        border: 4px solid #2C7903 !important;
    }
   .works-fotos{
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
    padding-top : 40px;
    height: inherit;

   }
   .img-text-works{
    display: flex;
    flex-direction: column;

    overflow: hidden;
    text-decoration: none;
    color: #fff;
    width: 50%;
    background-color: #2C7903;
    border-radius: 30px;
    height: inherit;
   }
   .text-crazy-plu{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 20px;
   }
   .text-crazy-plu h2{
    padding-top: 20px;
   
    margin: 0;
   }
   .text-crazy-plu p{
    padding-bottom: 30px;
    margin: 0;
   }
   .w{
    padding-bottom: 20px;
   }

   
   .img-crazy-plu{
    height: 300px;
    overflow:hidden;
    
}
.title-invisible{
    margin: 0px;
    padding: 0;

}
.texto-general{
    display: flex;
    gap: 5px;
    margin: 0px;
    align-items: center;
    visibility: hidden;
}
.texto-general img{

  border-radius: 20px;
  width: 25px;
  height: 25px;
  z-index: 1;
}


.img-text-works:hover .texto-general{
    display: flex;
    justify-content: center;
    margin: 0;
  
    transform: translatey(-160px);

    visibility: visible;

    
}

    .img-crazy-plu #imagen-grande{
        width: 100%;
        height: 300px;
        transition: 1s;
        object-fit: cover;
 
        
    }

    .img-text-works:hover #imagen-grande{
        transition: 3s;
        -webkit-transform:scale(1.3);
        transform:scale(1.3);
        filter: blur(2px) brightness(44%);
        -webkit-filter: blur(2px) brightness(44%);
        -moz-filter: blur(2px) brightness(44%);
 
    }

    /*certifactions*/
    .unico-certifications p {
        border-bottom:3px solid #493969 !important;
    }
    .active-certifications{
        border-bottom: 5px solid #493969 !important;
    }


    .button-class3:hover::before, .button-class3:hover::after {
        background-color: #493969 !important;

    }

    
    .foto-perfil-certifications img{
        border: 4px solid #493969 !important;
    }

    
.container {
    display: grid;
    gap: 50px;
    padding-top: 30px;
    padding-bottom: 20px;   
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}

.card {
  display: flex;    

  flex-direction: column;
  height: inherit;
  background-color: #493969;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;


  left: 0px;
}


.card:not(:first-child) {
    margin-left: -  10px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;

  transition: 0.4s ease-out;
}
.title-card{
    display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 80px;
 border-bottom: 2px solid rgb(255, 255, 255);
  
}
.card-ia{
align-self: start;

}
.title-card h3{
    margin: 0;
    padding: 0;
    font-size: 25px;
    text-align: center;
    padding: 0 20px;
}


.adjunto-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 430px;
    margin: 0;
    padding: 0;
    transition: 1s;

}

.card:hover {
    transition: 1s;
    
    background-color: #1a1525e8   ;
}
.card:hover .adjunto-card{
    display: flex;
    align-items: flex-start;
    
 
}

.adjunto-card img{
    display: block;
    object-fit: cover;
    width: 65%;
 
    
  
}
.sena{
    border-radius: 50%;   
}
.adjunto-card p{
    display: none;
}
.card:hover .adjunto-card img{
    display: none;
    
  }
.card:hover .adjunto-card p{
    display: block;
    height: 300px;
    display: flex;
    align-items: center ;
    justify-content: center;
    font-size: 25px;
    width: 100%;  
    margin: 0 20px;  
}

  /*Skills*/
.unico-skill p {
    border-bottom:3px solid #d9ff00 !important;
}
.active-skill{
    border-bottom: 5px solid #d9ff00 !important;
}

.button-class4:hover::before, .button-class4:hover::after {
    background-color: #b9d611 !important;

}
.foto-perfil-skill img{
    border: 4px solid #d9ff00 !important;
}

.padre-skills{
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
    width: 100% ;
}
.icono-skills{
    display: flex;
    justify-content: center;
    font-size: 30px;
    width: 100%;
    margin-top: 30px;
}
.icono-skills:hover{
    color: #d9ff00;
}
.icono-skills h2{
    margin: 0;
}
.hiijo-skills{
    width: 100%;
}
.title-skills{
    display: flex;
    justify-content: center;
}
.title-skills h2{
        margin: 0;
        padding: 0; 
        font-size: 25px;
}
.numero-skills{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #b9d611;
    width: 50px;
    transform: scale(2);
    height: 50px;
    
}
.Porcentajes-skills{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    width: 100%;
}
.skill-bar{
    display: flex;
    align-items: center;
    width: 80%;
    background-color: #7a7a7a;
    height: 30px ;
    border-radius: 30px;

}
.skill-level {
    display: flex;
    align-items: center;
    width: 80%;
    background-color: #b9d611;
    height: 30px;
}
.skill-level-2{
    width: 70%;
}
.skill-level-3{
    width: 65%;
}
.skill-level-4{
    width: 35%;
}
.skill-level-5{
    width: 75%;
}
.skill-level-6{
    width: 10%;
}
.skill-level-7{
    width: 15%;
}
.skill-level-8{
    width: 10%;
}



  


/*tablet*/
    @media only screen and (max-width:820px) {
        body{
            width: 100%;
        }

        .icono-display1{
            display: none;
        }
        .icono-display2{
            display: block;
        }
        .imagen-del-1-dato{
            width: 100%;
        }

        .formato-celular{
            display: flex;
            align-items: center ;
            gap: 10px;
        }

        .texto-datos p {    
            font-size: 17px;

        }
            

        #contenedor-grande{
        width: 100%;
        height: inherit;
        border: none;
        
        }
        .img-portada-grande img{
            width: 100%;
            height: 130px;
        }
        .foto-perfil img{
        width: 100px;
        margin: 0 20px;
        transform: translateY(-80px);
        }
        .imagn-de-mi{
            padding: 0 0 0 20PX;
        }

        .foto-perfil{
            margin: 0;
            gap: 20px;
            height: 20px;/*si no se lo pongo se baja el contenido*/
        }
        

        .datos-perfil{
            padding: 0 20px;
            gap: 2px;
        }
        .nombres h1{
        font-size: 25px;
        }
        .button{
            height: 35px;
            font-size: 15px;
            transform: translateX(-3PX);
        

        }

        .segundo-contenedor-grande{
            width: calc(100% - 40px);
            padding: 20px;
            gap: 0;
        }

        .Texto-del-menu{
            justify-content: flex-start;
            gap: 5%;
            padding: 0 20px;
            width: calc(100% - 40px);


        
        
        }

        .primera-img{
            display: none;
        }

        .segunda-img{
            display: block;
        }

        /*works celular*/
           .works-fotos{
            display: flex;
            flex-direction: column;
            padding-top: 30px;


   }

    .img-text-works{

        width: 100%;

    }

    .img-crazy-plu #imagen-grande{

        object-fit: cover;


        
    }


    /*certications*/

      .card{
        height: 300px;
      }  

      .title-card h3 {

        font-size: 15px;

    }

    /*skill*/




}
/*mobile*/
@media only screen and (max-width:459px) {

.container {
    display: grid;
    gap: 50px;
    padding-top: 30px;
    padding-bottom: 20px;   
    grid-template-columns: 1fr;
}
.title-card h3 {

    font-size: 20px;

}
.skill-bar{

    width: 100%;
    margin-left:    20px;


}

.skill-level {

    width: 70%;

}
.skill-level-2{
    width: 60%;
}
.skill-level-3{
    width: 55%;
}
.skill-level-4{
    width: 25%;
}
.skill-level-5{
    width: 65%;
}
.skill-level-6{
    width: 20%;
}
.skill-level-7{
    width: 25%;
}
.title-skills{
    margin-left: 50px;
}
.skill-level-8{
    width: 20%;
}

.title-skills h2{
    margin: 0;
    padding: 0; 
    font-size: 20px;
}   
.works-fotos{
    display: flex;
    flex-direction: column;

    padding-top: 30px;


}


}
